
<h3 appHighlight [favColor] = "'tomato'">{{ user.firstName }} {{ user.lastName }}</h3>

<!-- <p [ngClass]="['my-border', 'my-feature']">Income : {{ user.income }}</p> -->
<!-- <p [ngClass]="{'my-border' : true, 'my-feature' : false}">Income : {{ user.income }}</p> -->
<p [ngClass]="dynamicClass" *ngIf="user.isWorking; else elseTemplate">Income : {{ user.income }}
<button class="btn btn-sm btn-default" (click)="onToggle()">
  Toggle Class
</button>
</p>

<!-- Desugar Syntax -->
<!-- <ng-template [ngIf]="user.isWorking">
  <p>Income : {{ user.income }}</p>
</ng-template> -->

<p *appUntil = "user.isWorking">
  income from until : {{ user.income }}
</p>

<!-- <ng-template [appUntil]="user.isWorking">
  <p>Income : {{ user.income }}</p>
</ng-template> -->





<ng-template #elseTemplate>
  <p>Mr. {{user.lastName}} is not working now!</p>
</ng-template>

<p [ngStyle] ="dynamicStyle">Date of Birth : <span [innerText]="user.dob"></span></p>
